<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <section>
        <div class="container">
            <h1 class="text-center">Welcome Admin <%= username %> </h1>
            <div class="text-center logout-button">
                <a href="/logout" class="btn btn-danger">Logout</a>
            </div>
        </div>
    </section>
</body>
</html>