<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js" 
        integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ==" 
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>HOME</title>
</head>
<body>
    <section class="hero-section text">
        <div class="container">
            <h1 class="text-center">Cookie-Based Authentication</h1>
            <a href="/login" class="btn btn-primary">Get Started</a> 
        </div>
    </section>
    
    <div class="container">
        <h1>Concepts Used</h1>
        <ul>
            <li>Cookie-Based Authentication</li>
            <li>EJS Tempalate Engine</li>
            <li>Expess.js Framework</li>
        </ul>
        <h2 class="mt-4">Project Description</h2>
        <p>This project is a simple web application that demonstrates the use of cookie-based
             authentication in a Node.js application, wth express.js framework and EJS template engine.</p>
    </div>
</body>
</html>